<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Tickets</title>
  <%- include('../includes/headers.ejs') %>
  <link rel="stylesheet" href="/css/cards.css" />
  <link rel="stylesheet" href="/css/tickets.css" />
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="page-content">
    <section class="cards-grid">
      <% var currentDate = new Date() %>
      <% for (let ticket of tickets) { %>
      <article class="card">
        <div id="ticket-container">
          <h1>
            <%= ticket.title %>
          </h1>
          <div class="ticket-description">
            <%= ticket.description.length > 200 ? ticket.description.substring(0, 200).concat('...') : ticket.description %>
          </div>
          <button class="ticket-action">Usar</button>
          <div class="ticket-subItem">
            <div><%= ticket.type %></div>
            <% if (ticket.endDate < currentDate.toISOString().substring(0,10)) { %>
            <% var endDateT = ticket.endDate.split('-'); %>
            <% var endDate = new Date(parseInt(endDateT[0]),parseInt(endDateT[1] - 1),parseInt(endDateT[2]),0,0,0,0); %>
            <div>
              <%= Math.trunc((endDate.getTime() - currentDate.getTime())/ (1000 * 3600 * 24)) %> dias
            </div>
            <% } else { %>
            <div class="ticket-expired">Expirado</div>
            <% } %>
          </div>
          <footer>
            <div class="ticket-favButton">
              <i class="fa fa-heart-o"></i>
            </div>
            <div>
              <% var createDate = ticket.createDate.split('-'); %>
              <p class="ticket-createDate">
                <%= createDate[2] + '/' + createDate[1] + '/' + createDate[0] %>
              </p>
            </div>
          </footer>
        </div>
      </article>
      <% } %>
    </section>
  </main>
</body>

</html>